$svg-tick: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 448 512'%3E%3Cpath d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'/%3E%3C/svg%3E";

.custom-list {
    @include destroyList;

    > li {
        position: relative;
        @include x-rem(padding-left, 75px);
        @include x-rem(margin-bottom, 30px);

        @include media-breakpoint-down(lg) {
            @include x-rem(padding-left, 50px);
            @include x-rem(margin-bottom, 20px);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            @include pseudo;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            @include x-rem(width, 35px);
            @include x-rem(height, 35px);
            border: 3px solid #FFFFFF;
            box-shadow: 0 0 0 1px $color-primary;
            border-radius: 14px;
            background: url($svg-tick) no-repeat top 6px center / 16px $color-primary;
        }
    }
}
