.block--testimonials {
    position: relative;
    overflow: hidden;

    &:before {
        @include pseudo;
        top: 0;
        left: 50%;
        width: 120vw;
        height: 835px;
        transform: translateX(-50%);
        background-image: linear-gradient(180deg, rgba(255, 229, 210, 0.63) 0%, rgba(255, 244, 229, 0.00) 100%);
        border-radius: 100%;
        z-index: -1;
        pointer-events: none;

        @include media-breakpoint-down(xl) {
            width: 140vw;
        }

        @include media-breakpoint-down(lg) {
            width: 170vw;
        }

        @include media-breakpoint-down(sm) {
            width: 200vw;
        }
    }
}
