.header {
    position: sticky;
    z-index: 100;
    width: 100%;
    @include x-rem(height, $header-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition: border .3s ease-in-out;

    @include media-breakpoint-up(lg) {
        @include x-rem(margin-top, 20px);
    }

    @include media-breakpoint-down(lg) {
        @include x-rem(height, $header-height-mobile);
        border-color: $color-light;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;

        > img {
            @include x-rem(height, 32px);
        }
    }

    &__navs {
        display: flex;
        flex: 1;

        @include media-breakpoint-down(lg) {
            position: fixed;
            @include x-rem(top, $header-height-mobile);
            left: 0;
            width: 100%;
            height: calc(100% - #{$header-height-mobile});
            z-index: 100;
            @include x-rem(padding, 15px 20px 20px 20px);
            flex-direction: column;
            align-items: flex-start;
            background-color: $color-white;
            visibility: hidden;
            //opacity: 0;
            transform: translateX(100%);
            transition: all .3s ease-in-out, visibility 0s .3s;
            overflow-y: auto;

            .menu-mobile-open & {
                visibility: visible;
                //opacity: 1;
                transform: translateX(0);
                transition: all .3s ease-in-out;
            }
        }
    }

    .nav {
        @include destroyList;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            margin-left: auto;
        }

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        &__item {
            @include x-rem(margin, 0 15px);

            @include media-breakpoint-down(lg) {
                @include x-rem(margin, 10px 0);
                width: 100%;
            }

            > a {
                display: flex;
                justify-content: space-between;
                position: relative;
                @include x-rem(font-size, 14px);
                transition: color .3s ease-in-out;
                font-weight: $font-regular;

                .no-touchevents & {
                    &:hover {
                        @include media-breakpoint-up(lg) {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }

    .nav-extra {
        @include destroyList;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            @include x-rem(margin-left, 40px);
        }

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            width: 100%;
            align-items: stretch;
            @include x-rem(margin-top, 20px);
        }

        &__item {
            @include x-rem(margin-left, 14px);

            @include media-breakpoint-down(lg) {
                margin-left: 0;
                @include x-rem(margin-bottom, 14px);
            }

            &:first-child {
                margin-left: 0;
            }

            > a {
                @include media-breakpoint-down(lg) {
                    width: 100%;
                }
            }
        }
    }
}

// Burger menu
.burger-menu {
    position: relative;
    @include x-rem(width, 24px);
    @include x-rem(height, 18px);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    span {
        display: block;
        position: absolute;
        @include x-rem(height, 2px);
        width: 100%;
        background-color: $color-dark;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;


        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            @include x-rem(top, 8px);
        }

        &:nth-child(4) {
            @include x-rem(top, 16px);
        }
    }


    &.open {
        span {
            &:nth-child(1) {
                @include x-rem(top, 9px);
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                @include x-rem(top, 9px);
                width: 0%;
                left: 50%;
            }
        }
    }
}
