.form-group {
    &__control {
        display: block;
        @include x-rem(padding, 10px 15px);
        line-height: 1.75;
        background: transparent;
        border: 1px solid $color-light;
        width: 100%;
        color: inherit;
        outline: none;
        border-radius: $default-border-radius;

        &::placeholder {
            color: $color-light;
        }
    }
}

textarea {
    @include x-rem(min-height, 150px);
}
